.wrapper {
    header {
        padding: 16px 27px;
        border-bottom: 1px solid var(--color-border);
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 24px;
        width: 100%;
        background-color: var(--color-header);
    }

    h1 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    nav {
        display: flex;
        gap: 16px;
        flex: 1;
    }

    .link {
        color: var(--color-text);
        text-decoration: none;
        font-weight: normal;
    }

    .active {
        color: var(--color-accent);
        font-weight: 500;
    }

    .toggles {
        justify-self: right;
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding-right: 24px;
        border-right: 1px solid var(--color-border);

        img {
            cursor: pointer;
            opacity: .35;
        }

        img:hover:not(.activeToggle) {
            opacity: .7;
        }

        .activeToggle {
            opacity: 1;
        }
    }
}


