.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;


    .cardWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 12px;
        width: 100%;

        .imgWrapper {
            height: 60px;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 50%;
        }

        img {
            height: 100%;
            width: 100%;
            min-height: 100%;
            min-width: 100%;
        }
    }

    .addButton {
    padding: var(--spacing-03);
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    color: var(--color-text);
}

.addButton:hover {
    background: var(--color-surface-medium);
}
}