.wrapper {
    .chipWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        .chip {
            border: 1px solid var(--color-border);
            background-color: var(--color-background);
            color: var(--color-text);
            font-weight: 400;
            background: white;
            padding: 6px 12px;
            border-radius: 16px;
            cursor: pointer;
        }

        .chip:hover {
            background-color: color-mix(in srgb, white 95%, black 5%);
            border-color: var(--color-border-dark);
        }

        .chip.active {
            background: var(--color-checked);
            border: 1px solid var(--color-checked-dark);
        }

        .removeButton {
            border: none;
            background-color: transparent;
            opacity: .4;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: fit-content;
            margin: auto;
        }

        .removeButton:hover {
            opacity: 1;
        }
    }


}