.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: calc(100vh - 80px);
    align-items: stretch;

    .formWrapper {
        flex: 1;
        background-color: var(--color-surface);
        border: 1px solid var(--color-border);
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
        padding: var(--spacing-06) var(--spacing-06);
        overflow-y: scroll;
    }
}