.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    .textWrapper {
        min-width: 160px;
        padding-top: 6px;
    }

    .wordCount {
        margin-top: 6px;

        p {
            color: var(--color-text-muted);
            font-size: 12px;

        }

        .warning {
            color: var(--color-warning);
        }
    }

}