.wrapper {
    align-items: center;
    border-radius: 50px;
    padding: 6px 12px;
    border: 1px solid var(--color-border);
    background: var(--color-surface);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    cursor: pointer;

    label {
        margin: 0;
        font-weight: 400;
        min-width: 0px;
        display: none;
    }

    input {
        display: none;
    }

}

.checked {
    background-color: var(--color-checked);
    border: 1px solid var(--color-checked-dark);
}