.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .rowWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 4px;
    width: 100%;
    cursor: move;

    button {
      border: none;
      background-color: transparent;
      opacity: .4;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: auto;
    }

    button:hover {
      opacity: 1;
    }

  }

  .addButton {
    padding: var(--spacing-03);
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    color: var(--color-text);
  }

  .addButton:hover {
    background: var(--color-surface-medium);
  }
}