.wrapper {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    flex: 1;
    overflow-x: hidden;

    .innerWrapper {
        width: 90%;
        overflow-x: scroll;
        margin: var(--spacing-06);
    }
}