.wrapper {
    border-radius: 8px;
    border: 1px solid var(--color-border);

    .topRow {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--spacing-gap);
        background-color: var(--color-table-header);
        padding: 1rem 1rem .5rem 1rem;
        border-radius: 8px 8px 0 0;
    }

    h2 {
        font-size: var(--font-size-02);
        margin-right: 1rem;
    }

    .pagination {
        margin-left: auto;

        span {
            margin-inline: var(--spacing-gap);
        }
    }

    button {
        padding: .5rem 1rem;
        border-radius: 4px;
        height: fit-content;
        border: 1px solid var(--color-border);
        background-color: var(--color-surface);
    }

    button:hover {
        background-color: var(--color-surface-medium);
        border-color: var(--color-border-medium);
    }
}